[data-md-color-scheme="default"] {
  .md-tabs__item--active {
    color: #000480;
    border-bottom-color: #0B11FF;
    font-weight: 600;
  }

  .md-typeset hr {
    border-bottom: .05rem solid #0B11FF;
    display: flow-root;
    margin: 1.5em 0;
  }

}

[data-md-color-scheme="slate"] {
  .md-tabs__item--active {
    color: #E9A221;
    border-bottom-color: #FFD892;
    font-weight: 700;
  }

  .md-nav--primary .md-nav__item .md-nav__link--active {
    color: #E9A221;
  }

  .md-nav__item .md-nav__link--active {
    color: #E9A221;
  }

  .md-typeset a {
    color: #f2c77a;
  }

  .md-typeset hr {
    border-bottom: .05rem solid #E9A221;
    display: flow-root;
    margin: 1.5em 0;
  }
}
